<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
        <title>Form di registrazione</title>
    </head>
    <body>
        <nav>
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color:#eee; width: fit-content;">
                <h2 style="margin-bottom:0;">SPAMAZON</h2>
            </a>
        </div>
    </nav>
        <center>
            <div class="main">  	
                <input type="checkbox" id="chk" aria-hidden="true">
                <div class="login">
                    <form action="/accedi" method="get">
                        <label for="chk" aria-hidden="true"><a>Register </a>Log in</label>
                        <input class="input" type="text" name="fnome" placeholder="Nome" required="">
                        <input class="input" type="password" name="fpassword" placeholder="Password" required="">
                        <input class="btn" type="submit" value="Log in">
                    </form>
                </div>

                <div class="register">
                    <form action="/registrati" method="get">
                        <label for="chk" aria-hidden="true">Register <a>Log in</a></label>
                        <input class="input" type="text" name="fnome" placeholder="Nome" required="">
                        <input class="input" type="password" name="fpassword" placeholder="Password" required="">
                        Sesso:<input name="fsesso" type="radio" value="1">M
                            <input name="fsesso" type="radio" value="2">F
                        <input class="btn" type="submit" value="Register">
                    </form>
                </div>
            </div>
        </center>
    </body>
</html>