p{
    margin:0%
}

form {
    padding: 16px;
}

a {
    transition: .5s ease-in-out;
}

label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

nav{
    background-color: #240046;
    top: -20;
    position: relative;
    width: 100%;
    margin-bottom: 4rem;
    left: -8;
}

/*Classes*/
.main {
    width:fit-content;
    position: relative;
    background-color: #eee;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628;
}

.input {
    margin-bottom:5%;
    width: 100%;
    height: 40px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
}


/*Log in*/
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #240046;
}

.login label {
    margin: 5% 0 5%;
    transform: scale(.6);
}

.login a{
    color: #573b8a;
    transform: scale(.6);

}



/*Register*/
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #eee;
    width: 100%;
    transition: .8s ease-in-out;
    z-index: 2;
}

.register label {
    color: #573b8a;
    transform: scale(1);
    margin: 5% 0 5%;
}

.register a{
    color: #adabb1;
    transform: scale(.6);

}

.register form{
    margin: 3% 11% 0;
}

/*Switch*/
#chk {
    display: none;
}

#chk:checked ~ .register {
    opacity: 0%;
    z-index: 1;
}

#chk:checked ~ .register label {
    transform: scale(.6);
}

#chk:checked ~ .register a {
    transform: scale(1.6);
}

#chk:checked ~ .login{
    z-index: 2;   
}

#chk:checked ~ .login label {
    transform: scale(1);
}   

#chk:checked ~ .login a {
    transform: scale(.6);
}



/*submit button*/
form .btn {
    width: 85%;
    height: 40px;
    margin: 12px auto 10%;
    color: #fff;
    background: #573b8a;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}

form .btn:hover {
    background-color: #6d44b8;
}

.ord{
    height: 40px;
    margin: 12px auto 10%;
    color: #fff;
    background: #573b8a;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}