p{
    margin:0%
}

form {
    width:fit-content;
}

a {
    width: fit-content;
}

label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}


/*Classes*/
.main {
    width:fit-content;
    position: relative;
    background-color: #eee;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628;
}

.ord{
    height: 40px;
    margin: 12px auto 10%;
    color: #573b8a;
    background: #573b8a;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}