body{
    background-color: black;
}

h1{
    color: skyblue;
}

video{
    width: 100%; 
}
    
table{
    border: 3px skyblue solid;
    
}

td{
    border: 5px skyblue solid ;
}

iframe{
    width: 600px;
    height:350px;
}
